@tailwind base;
@tailwind components;
@tailwind utilities;
.cards {
    text-align: center;
    padding: 20px;
  }
  
  .flashcard {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: auto;
    display: inline-block;
  }
  
  button {
    margin: 2px;
  }